body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.date, .location {
  color:white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  padding-top: 10px;
}
.location{
  font-size:35px;
}
main{
  height: 667px;
  width: 375px;
}

.app{
  background-image: url('./App/assets/morning.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}
.app.night{
  background-image: url('./App/assets/night.jpg');
}
.app.afternoon{
  background-image: url('./App/assets/cold.jpg');
}
.app.evening{
  background-image: url('./App/assets/bg.jpg');
}
.main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.75));
  padding:25px;
}